body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.canvasContainer {
    position: relative;
    margin-left: 2em;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    display: block;
}

.hide-on-small-only .card {
    height: 595px;
    margin: inherit;
    margin-right: 2em;
}

#editCanvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: inherit;
}

textarea {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 300px;
    resize: none;
    background-color: #fcfcfc;
    font-family: "Roboto";
    z-index: 999;
}

.sp-palette {
    max-width: 200px;
}

.full-width {
    width: 100%;
}

.minicolors-theme-default.minicolors {
    width: 100%;
}

.minicolors-swatch-color {
    border-radius: 3px;
}

label {
    user-select: none;
}

#undo,
#redo,
.tool {
    padding: 0;
}

.collection {
    max-height: 173px;
    overflow: auto;
}

#saveButton {
    margin-top: 2em;
}

.collection-item.grey-text,
.collection-item.grey-text:hover {
    cursor: default;
    transition: none !important;
    background-color: white !important;
}

.github {
    width: 20px;
    height: auto;
    margin-bottom: -0.3em;
}