body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.canvasContainer {
  position: relative; }

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: 3em;
  margin-right: auto;
  display: block;
  width: 950px; }

.card {
  height: 590px;
  margin: inherit;
  margin-right: 3em; }

#editCanvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 56px; }

textarea {
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 300px;
  resize: none;
  background-color: #fcfcfc;
  font-family: "Roboto"; }

.sp-palette {
  max-width: 200px; }

.full-width {
  width: 100%; }

.minicolors-theme-default.minicolors {
  width: 100%; }

.minicolors-swatch-color {
  border-radius: 3px; }
